::deep > .rz-textarea {
    color: darkgreen !important; /* Use !important if needed for specificity */
    /* Add other styles like font-weight, text-decoration, etc. */
}

::deep .disabledInputCssClass {
    /*background-color: black;
    color: white;*/
    --rz-input-disabled-background-color: black;
    --rz-input-disabled-color: white;
    --rz-input-disabled-font-size: 40px;
    --rz-input-font-size: 40px; /* when Disabled is not set */
    /*--rz-input-disabled-placeholder-color: darkred;*/
}

.myclass > .row {
    background-color: green;
}

.myclass > .row .row {
    background-color: red;
}
